/* add css styles here (optional) */


.my-gallery a {
  -webkit-tap-highlight-color: transparent;
}

.pswp__button--close {
  user-select: none;
  display: inline-block;
  position: absolute;
  top: 0;

}

.pswp__button--close.full {
  height: 100% !important;
  width: 100% !important;
  left: 0;
  opacity: 0;
}

.pswp__button--close.normal {
  right: 0;
  cursor: pointer;
  transform: rotate(45deg);
  height: 60px;
  width: 60px;
}

.pswp__button--close.normal:before, .pswp__button--close.normal:after {
  display: inline-block;
  content: '';
  height: 60%;
  width: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .7;
}

.pswp__button--close.normal:after {
  width: 60%;
  height: 1px;
}


.pswp__top-bar {
  background: #00000000 !important;
}

.pswp__counter {
  user-select: none;
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  opacity: .7;
  font-weight: lighter;
}

.pswp__caption {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}

.pswp__caption--fake {
  display: none;
}

.pswp__caption__center {
  display: inline-block;
}
